rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /teachers/{teacherId} {
      allow read: if request.auth.uid == teacherId;
    }

    match /classes/{classId} {
      allow read, write: if request.auth != null &&
        request.auth.uid == resource.data.teacherId;

      match /students/{studentId} {
        allow read, write: if request.auth != null &&
          request.auth.uid ==
          get(/databases/$(database)/documents/classes/$(classId)).data.teacherId;
      }
    }

    match /attendance/{doc} {
      allow read, write: if request.auth != null;
    }
  }
}
